.Sidebar {
    display: flex;
    flex-direction: column;
    flex: 1.1;
    height: 700px;
    font-family: "Berlin Sans FB Demi", cursive;
    /*background: linear-gradient(#eeeeee, dimgrey);*/
    /*border-right: 2px solid black;*/
    text-align: center;
    padding: 10px ;
}

.ProfilePhoto {
    height: 200px;
}

.ProfilePhoto img {
    height: 200px;
    border-radius: 100%;
    border: 2px solid darkgreen;
}

.Motto {
    padding: 16px 3px;
}

.UserInfo {
    padding: 16px 5px;
    border-top: 2px solid black;
    text-align: left;
    font-size: 15px;
}

.UserInfo span {
    font-weight: bold;
}

.Friends {
    border-top: 2px solid black;
    text-align: left;
    padding: 16px 5px;
}
